body {

    background-image: url('https://mediaproxy.snopes.com/width/1200/https://media.snopes.com/2011/05/Getty-deck-of-cards-prayer.jpg');
    font-family:'Lato';
    color: aliceblue;
    text-align: center;

}

h1{
    color: rgb(209, 209, 1);
    font-family: 'Rubik Vinyl';
    font-size: 50px;
}
h2{
    color: rgb(0, 0, 0) ;
    font-weight:500;
    background-color: aliceblue;
}
.emptyDiv{
    visibility:hidden;
}
.spanT {
    font-size: 30px;
    color: black;

    visibility: visible;
    background-color: aliceblue;
    width: 300px;
    height: 100px;
    margin: auto;
    display:inline-block;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;

}

.sumT {
    visibility: visible;
    font-size: 40px;
    color: black;
    font-weight: 800;

}

.message{
    font-size: 30px;
    color: rgb(5, 97, 6);

    visibility: visible;
    background-color: aliceblue;
    width: 300px;
    height: 100px;
    margin: auto;
    display:inline-block;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

button {
    visibility: visible;
    margin: 20px 0;
    background: rgb(185, 5, 5);
    padding: 50px 0px 50px 0px;
    border: 1px solid black;
    width: 200px;
    max-width: 500px;
    max-height: 50px;
    cursor: pointer;
    color: aliceblue;
    font-size: 30px;
    text-align: center;


}